/*Etiqueta para crear y almacenar tus variables en este caso una paleta de colores*/
:root{
    /*Paleta colores*/
    --blanco: #ffffff;
    --oscuro: #111111;
    --primario: #5de36f;
    --secundario: #a10026;
    --gris: #787878;
    --verdeFondo: #61fa87;
}

/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box; /*Hace que no le afecten los paddins*/
    scroll-snap-type: y mandatory;
}

/* Scroll snap */
.nav-principal,
.servicios,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*,*:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px; /* 1rem = 10px */
    font-family: "Protest Riot", sans-serif;
    background-image: linear-gradient(to top, var(--verdeFondo) 0% , var(--blanco) 100%);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.boton{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-top:3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5rem;
    width: 80%;
    text-align: center;
    border: none;
}
@media (min-width: 480px) {
    .boton{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}
.sombra{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.99);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
/* Tipografia */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}

/* Titulos */
.titulo span{
    font-size: 2rem;
}

/*Utilidades*/
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-boton{
    justify-content: flex-end;
}
/*Navegación principal*/
.nav-bg{
    background-color: var(--primario);
}

.nav-principal{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .nav-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.nav-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    padding:1rem;
}
.nav-principal a:hover{
    background-color: var(--primario);
    color: var(--secundario);
}

/* Hero */
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    /*El padre tiene que tener posicion relativa y el hijo absoluta*/
    position: relative;
    margin-bottom: 2rem;;
}

.contenedor-hero{
    position: absolute;
    background-color: rgb(0,0,0,0.7);
    background-color: rgb(0 0  0 / 70%);
    width: 100%;
    height: 100%;

    /*Posicionar en el centro el contenido*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-hero h2,
.contenedor-hero p{
    color: var(--blanco);
}

.contenedor-hero .ubicacion{
    display: flex;
    align-items:flex-end;
}

/*Servicios*/
@media (min-width: 780px) {
    .servicios{
        display: grid;
        /* Son lo mismo , la mejor forma es la ultima*/
        /* grid-template-columns: 33.3% 33.3% 33.3%; */
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: normal; /* Todos los h tienen por defecto bold*/
}
.servicio p{
    line-height: 2;
}
.iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Contacto */
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /* Utilizar el valor más pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4){ /*Seleccionar el tercer elemento con la clase campo*/
        grid-column: 1 / 3;
    }
}

.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blanco);
    margin-bottom: .5rem;
    display: block;
}
.campo textarea{
    height: 20rem;
}
.input{
    width: 100%;
    border: none; /*Todas las input traen un border gris por defecto*/
    padding: 1.5rem;
    border-radius: .5rem;
}

/*footer*/
.footer{
    text-align: center;
}
